<?xml version="1.0" ?>
<!-- This is the referral cache file that it used to forward calls via the router to a service -->
<r:referrals xmlns:r="http://schemas.xmlsoap.org/ws/2001/10/referral">
  <r:ref>
    <r:for>
      <r:exact>http://localhost/SOAPRouter/StockTrader.asmx</r:exact>
    </r:for>
    <r:if />
    <r:go>
      <r:via>http://localhost/SOAPService/StockTrader.asmx</r:via>
    </r:go>
    <r:refId>uuid:fa469956-0057-4e77-962a-81c5e292f2ae</r:refId>
  </r:ref>
</r:referrals>

