<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StockTraderClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <microsoft.web.services3>
    <policy fileName="wse3policyCache.config" />
    <diagnostics>
      <trace enabled="true" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
    </diagnostics>
  </microsoft.web.services3>
  <applicationSettings>
    <StockTraderClient.Properties.Settings>
      <setting name="StockTraderClient_StockTraderProxy_StockTrader" serializeAs="String">
        <value>http://localhost:2518/StockTraderSecure/StockTrader.asmx</value>
      </setting>
    </StockTraderClient.Properties.Settings>
  </applicationSettings>
</configuration>